# This project is statically exported, so NEXT_PUBLIC values are embedded in browser JavaScript.
# In the comment admin, allow http://localhost:3000 and https://testkrillion.com
# (plus https://www.testkrillion.com if the www host is served).
NEXT_PUBLIC_COMMENT_API_ORIGIN=https://comment-api-pi.vercel.app
NEXT_PUBLIC_COMMENT_PROJECT_SLUG=krillion
NEXT_PUBLIC_COMMENT_SECTION_SLUG=krillion
NEXT_PUBLIC_COMMENT_API_KEY=
